
div.sort_options{
    width: 680px;
    height: 40px;
    position: absolute;
    left: 4px;
    top: 34px;
    visibility: hidden;
}
div.details{
    position: absolute;
    height: 250px;
    width: 500px;
    visibility: hidden;
    padding: 55px;
    padding-top: 19px;
    padding-left: 26px;
}
div.rdetail *{
    color: darkturquoise;
}
button#cancel_btn{
    visibility: hidden;
    position: relative;
}
div.rdetail{
    display: inline-block;
    position: relative;
    padding-right: 20px;
    border-width: 1px;
    border-top-style: dotted;
    border-color: darkcyan;
}
div.rinfo{
    display: inline-block;
    position: relative;
}
div.creator{
    position: absolute;
    height: 250px;
    width: 532px;
    visibility: hidden;
    padding: 55px;
    padding-top: 19px;
    padding-left: 17px;
    left: 213px;
}
.form{
    background-color: dodgerblue;
}
input#amount_input {
    width: 184px;
}
textarea#comment_input {
    width: 565px;
    height: 145px;
}